@{
    ViewBag.Title = "About";
}

<h2>About</h2>

<p>A demo-app built during <a href="http://www.cinteros.se">Cinteros</a> Spring Conference 2012.</p>

<p>The technologies used for the app:</p>
<ul>
    <li>
        <a href="http://nuget.codeplex.com/">Nuget</a>
    </li>
    <li>
        <a href="http://www.asp.net/mvc/mvc4">ASP.NET MVC 4 and WebAPI</a>
    </li>
    <li>
        <a href="http://knockoutjs.com/">Knockout.js</a>
    </li>
    <li>
        <a href="http://signalr.net/">SignalR</a>
    </li>
    <li>
        <a href="http://ravendb.net/">RavenDB</a>
    </li>
    <li>
        <a href="http://github.com/jetheredge/SquishIt">SquishIt</a>
    </li>
    <li>
        <a href="http://github.com/sebnilsson/Cinteros.Labs.SpringConf2012">GitHub</a>
    </li>
    <li>
        <a href="https://appharbor.com/">AppHarbor</a>
    </li>
</ul>