<h2>Bug-reports</h2>

<table id="data-table">
    <thead>
        <tr>
            <th id="head-title">Title</th>
            <th id="head-prio">Priority</th>
            <th id="head-multi"></th>
            <th id="head-hours">Hours</th>
            @*<th id="head-row-cost">Row Cost</th>*@
            <th id="head-desc">Description</th>
            <th id="head-controls"></th>
        </tr>
    </thead>
    <tbody data-bind="foreach: bugs">
        <tr>
            <td><input data-bind="value: name" /></td>
            <td><select data-bind="options: $root.priorities, value: priority, optionsText: 'title'"></select></td>
            <td data-bind="text: multiplier"></td>
            <td><input class="inp-hours" data-bind="value: hours" /></td>
            @*<td data-bind="value: (rowCost * $root.hourlyPrice)" ></td>*@
            <td><input data-bind="value: description" /></td>
            <td><a href="#" data-bind="click: $root.removeBug">Remove</a></td>
        </tr>
    </tbody>
</table>

@*<h2>Add new bug</h2>
<table>
    <tbody>
        <tr>
            <td><input data-bind="value: name" /></td>
            <td><select data-bind="options: $root.priorities, value: priority, optionsText: 'title'"></select></td>
            <td data-bind="text: multiplier"></td>
            <td><input data-bind="value: hours" /></td>
            <td><input data-bind="value: decription" /></td>
            <td><a href="#" data-bind="click: $root.removeBug">Remove</a></td>
        </tr>
    </tbody>
</table>*@

<div>
    <button data-bind="click: addBug, enable: bugs().length < 10">Add bugg</button>(max 10)
</div>

<div data-bind="visible: totalCharge() > 0">
    Total cost: $<span data-bind="text: totalCharge().toFixed(2)"></span>
</div>