@using SquishIt.Mvc
@section BottomScripts {
    @(Html.BundleJavaScript()
        .Add("~/Scripts/json2.js")
        .Add("~/Scripts/jquery-1.9.0.js")
        .Add("~/Scripts/knockout-2.2.1.debug.js")
        .Add("~/Scripts/jquery.signalR-1.0.0-rc2.js")
        .Add("~/Content/Site.js")
        .MvcRender("~/bundled-scripts.js"))
    <script src="~/signalr/hubs" type="text/javascript"></script>
}

<h2>Bug-reports</h2>

<table id="data-table">
    <thead>
        <tr>
            <th class="col-title">Title</th>
            <th class="col-prio">Priority</th>
            <th class="col-multi"></th>
            <th class="col-hours">Hours</th>
            <th class="col-row-cost">Row Cost</th>
            <th class="col-desc">Description</th>
            <th class="col-controls"></th>
        </tr>
    </thead>
    <tbody data-bind="foreach: bugs">
        <tr>
            <td><input data-bind="value: name" /></td>
            <td><select data-bind="options: $root.priorities, optionsValue: 'index', optionsText: 'title', value: priorityIndex"></select></td>
            <td data-bind="text: multiplier"></td>
            <td><input class="inp-hours" data-bind="value: hours" /></td>
            <td data-bind="text: rowMultiplier().toFixed(2)" ></td>
            <td><input data-bind="value: description" /></td>
            <td>
                <a href="#" data-bind="click: $root.saveBug">Save</a>
                <a href="#" data-bind="click: $root.removeBug">Remove</a>
            </td>
        </tr>
    </tbody>
</table>

<div>
    @*<button data-bind="click: addBug, enable: bugs().length < 10">Add bug</button>(max 10)*@
    <button data-bind="click: addBug">Add bug</button>
</div>

<div data-bind="visible: totalCharge() > 0">
    Total cost: $<span data-bind="text: totalCharge().toFixed(2)"></span>
</div>